$font_grey: #c2c2c2;

.victorina__body {
  background-color: #191919;
  font-family: 'Inter', sans-serif;
  position: relative;
}
main {
  position: relative;
}
.quiz__header {
  justify-content: space-between;
  align-items: center;
}

.score__container {
  font-size: 26px;
  color: #fff;
  margin-top: 10px;
}

.top__progress_game {
  margin-top: 30px;
}

.progress__container {
  display: flex;
  justify-content: space-around;

  background-color: rgb(31, 131, 98);
}

.pr__list {
  width: 200px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
}
.active__link {
  background-color: rgb(41, 176, 131);
}
.progress__qestion {
  display: block;
  width: 100%;
}

.question__listen_container {
  margin-top: 50px;
  display: flex;
  gap: 0 40px;
}

.listen__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px 0;
  width: 100%;
  padding-right: 80px;
}
.top__image_container {
  position: relative;
}
.img__bg {
  background: rgb(88, 88, 88);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  font-weight: 500;
}

.img__bird_hidden {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.listen__item_text {
  border-bottom: 1px solid rgb(80, 80, 80);
  padding: 8px 0;
}

.audio__player {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.audio__player_bottom {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.img__circle {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 188, 140, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.img__audio_play {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding-left: 5px;
}
.img__circle:hover .img__audio_play {
  transform: scale(1.1);
}
.img__audio_pause {
  display: none;
}
.img__circle:hover .img__audio_pause {
  transform: scale(1.1);
}
///////////////
.img__circle_bottom {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 188, 140, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}
.img__audio_play_bottom {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding-left: 5px;
}
.img__circle_bottom:hover .img__audio_play_bottom {
  transform: scale(1.1);
}
.img__audio_pause_bottom {
  display: none;
}
.img__circle_bottom:hover .img__audio_pause_bottom {
  transform: scale(1.1);
}
.block {
  display: block;
}
.non {
  display: none !important;
}

.bird__text_hidden {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.timebar__container {
  flex-grow: 1;
  position: relative;
  height: 20px;
}
.timebar {
  height: 5px;
  background: linear-gradient(
    to right,
    rgb(0, 188, 140) 0%,
    rgb(61, 133, 140) 0%,
    rgb(115, 115, 115) 0%,
    rgb(115, 115, 115) 100%
  );
  border-radius: 5px;
  margin-top: 5px;
}
.timebar__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $font_grey;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.timebar__info {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 300;
  margin-top: 10px;
}

.audio__volume_container {
  margin-top: 10px;
  width: 100px;
  height: 5px;
  background-color: rgb(115, 115, 115);
  border-radius: 10px;
  cursor: pointer;
}
.audio__volume {
  height: 5px;
  background-color: $font_grey;
  border-radius: 10px;
}

.game__wrapper {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}

.question__bird {
  width: 300px;
}
.list {
  border: 1px solid #393939;
  border-bottom: none;
  width: 300px;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}
.list:last-child {
  border-bottom: 1px solid #393939;
}
.list:hover {
  background-color: #393939;
}

.list input {
  display: block;
  margin-right: 10px;
  width: 9px;
  height: 9px;
}
.list__circle {
  background-color: #393939;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 5px;
}
.list:hover .list__circle {
  background-color: #bfbfbf;
}
.bird__winner_container {
  width: 350px;
  height: 350px;
}
.bird__winner_img {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.about__bird_container {
  max-width: 500px;
}

.hello__text {
  width: 100%;
}
.about__head {
  margin-bottom: 15px;
}
.about__head h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}
.about__bird_latinname {
  font-size: 16px;
  font-weight: 300;
  color: $font_grey;
}

.about__text {
  max-width: 350px;
  font-weight: 300;
  line-height: 25px;
}

.footer__btn {
  background-color: #494949;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.next__level {
  background-color: #1ed760;
}

.finish__game_container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finish__game {
  max-width: 900px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finish__game_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px 0;
  position: absolute;
}
.finish__title {
  font-size: 46px;
}

.restart__game_btn {
  width: 300px;
  height: 30px;
  text-align: center;
  padding-top: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.restart__game_btn:hover {
  border: 1px solid #1ed760;
  background-color: #1ed760;
  transition: 0.2s;
}

.finish__game_animation {
  position: relative;
}
.finish__game_animation img {
  width: 100%;
  height: 100%;
}

.author_animation {
  position: absolute;
  display: block;
  bottom: 20px;
  left: 10px;
  font-size: 12px;
}

.author_animation a {
  color: #494949;
}

.author_animation a:hover {
  color: #fff;
}

@media (max-width: 1015px) {
  .wrapper {
    max-width: 900px;
  }
  .bird__winner_container {
    max-width: 250px;
    max-height: 250px;
  }
  .list {
    width: 200px;
  }

  /* .about__bird_container {
    max-width: 300px;
  } */
  .hello__text {
    text-align: center;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .victorina__body {
    height: auto;
  }
  .pr__list {
    height: 50px;
  }
  .img__bird_hidden {
    width: 150px;
    height: 150px;
  }
  .game__wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .question__bird_container {
    margin-top: 40px;
    margin-bottom: 40px;
    order: 2;
  }
  .list {
    width: 300px;
  }
}

@media (max-width: 540px) {
  .wrapper {
    width: 95%;
  }
  .progress__container {
    flex-wrap: wrap;
    background-color: #191919;
  }

  .about__bird_container {
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }
  .about__text {
    max-width: 100%;
  }
  .about__text p {
    text-align: left;
  }

  .question__listen_container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .listen__container {
    margin-top: 15px;
    padding-right: 0;
    max-width: 400px;
  }

  .question__bird_container {
    width: 100%;
  }
  .list {
    width: 100%;
    padding: 0;
  }
  .finish__game_container {
    height: 100vh;
    align-items: center;
  }
  .finish__title {
    font-size: 26px;
  }
  .finish__description {
    text-align: center;
  }
  .restart__game_btn {
    width: 200px;
  }
}
